<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Łukasz Dacz", "https://pl.linkedin.com/in/łukasz-dacz-629215128", class: "text-white" %></small>
  </div>
</footer>